.colorLegend {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.previewContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.previewContainer:before {
  content: "Preview";
  position: absolute;
  top: -30px;
}

.previewHeader {
  height: 32px;
  border-radius: 10px 10px 0 0;
}

.previewBody {
  padding: 15px;
}

.previewButton {
  margin-top: 5px;
  padding: 2px 6px 5px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.previewFooter {
  height: 44px;
  border-radius: 0 0 10px 10px;
}

.statusIcon {
  font-size: 160px;
}
