.btn {
  padding: 6px 20px;
  border-radius: 20px;
  background-color: #3c3c3c;
  font-weight: 500;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.reset {
  padding: 6px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  text-align: center;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.btnSecond {
  padding: 6px 20px;
  border-radius: 20px;
  background-color: #3c3c3c;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}
