.card {
  height: 280px;
  cursor: pointer;
  color: white;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  z-index: 2;
  box-shadow: 0 2px 30px rgba(194, 54, 58, 0.2);

  @media (max-width: 600px) {
    height: 200px;
  }
}

.gradientOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.9238883053221288) 0%,
    rgba(0, 211, 254, 0) 100%
  );
}

.context {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.active {
}

.avatar {
  width: 50px;
  height: 50px;
}

.labelRow {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.num {
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.checkoutBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 20;
}

.nameContainer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 20px;
  padding-top: 160px;
  margin-top: -150px;
}

.buyButton {
  padding: 6px 20px;
}
