.card {
  height: 280px;
  cursor: pointer;
  color: white;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.gradientOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.9238883053221288) 0%,
    rgba(0, 211, 254, 0) 100%
  );
}

.context {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.active {
  border-bottom: 2px solid #888;
}

.avatar {
  width: 50px;
  height: 50px;
}
