.card {
  height: 280px;
  cursor: pointer;
  color: white;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.gradientOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.9238883053221288) 0%,
    rgba(0, 211, 254, 0) 100%
  );
}

.context {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.active {
  border-bottom: 2px solid #888;
}

.avatar {
  width: 50px;
  height: 50px;
}

.labelRow {
  position: relative;
  padding-left: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.num {
  color: white;
  border-radius: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.checkoutBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 20;
}

.checkoutBarPremium {
  position: fixed;
  bottom: 15px;
  left: 15px;
  right: 15px;
  padding: 10px 20px 30px;
  z-index: 20;
}

.selected {
  border-width: 1px !important;
  border-color: rgba(63, 209, 61, 0.5) !important;
  background: #3fd13d;
  background: linear-gradient(
    90deg,
    rgba(63, 209, 61, 0.5) 0%,
    rgba(63, 209, 61, 0.1) 100%
  );
}
